@import "../shared/includes.scss";

.ArticleListPage {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;

	padding-bottom: 10px;

	.Article,
	.Service {
		display: flex;
		flex-wrap: wrap;

		align-items: flex-start;
		margin-top: 16px;
		min-width: 100%;

		.Image {
			width: 6rem;
			height: 4rem;
			overflow: hidden;
			background-position: center;
			background-size: cover;
			align-self: center;

			.ltr & {
				margin-right: 16px;
			}
			.rtl & {
				margin-left: 16px;
			}

			img {
				width: auto;
			}
		}
		.Text {
			flex: 1;

			display: block;
			min-width: 100%;
		}
		.TextWithImage {
			flex: 1;
			min-width: 1%!important;
			

			display: block;
			min-width: 100%;
		}
		.Read-More {
			padding-top: 10px;
			flex-basis: 100%;
		}
	}

	hr {
		width: 100%;
		border-width: 1px;
		border-style: solid;
		border-radius: 2px;
		height: 0;
		.ltr & {
			margin-left: 0;
		}
		.rtl & {
			margin-right: 0;
		}

		color: #000000;
		border-color: #000000;

		@include brand-colors("color");
		@include brand-colors("border-color");
	}

	hr.line {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: lighten($dividerColor, 30%);
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 100%;
	}

	.Title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
	}

	.Title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.Title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}

	.list {
		display: flex;
		margin-left: 16px;
		margin-right: 16px;
		flex: 1;
		flex-direction: column;

		img {
			//max-width: 100%;
			margin: auto;
			display: block;
		}
		p {
			margin: 0;
		}

		h1 {
			font-size: 24px;
			margin-bottom: 0;

			.fa {
				.ltr & {
					margin-right: 8px;
				}
				.rtl & {
					margin-left: 8px;
				}
			}
		}

		h2 {
			font-size: 18px;
			margin-top: 0;
			margin-bottom: 0;
			small {
				display: block;
			}
		}

		h3 {
			font-size: 16px;
			small {
				display: block;
			}
			margin-top: 0;

			margin-bottom: 0;
		}

		ul li {
			list-style-type: square;
		}
	}
}
