.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
html,
body {
	min-height: 100vh;
	max-width: 100vw;
	padding: 0;
	margin: 0;
}
::selection {background-color:black; color: #FDDA14}
html .rtl,
body .rtl {
	font-family: "Cairo", sans-serif;
}
html .ltr,
body .ltr {
	font-family: "Roboto", sans-serif;
	padding: 0;
}

ltr {
	display: inline-block;
	direction: ltr !important;
}

rtl {
	display: inline;
	direction: rtl !important;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

a:before {
	content: " "
}
