@font-face {
	font-family: 'MehrNastaliqWeb';
	src:url('../fonts/MehrNastaliqWeb.eot');
	src:url('../fonts/MehrNastaliqWeb.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MehrNastaliqWeb.ttf') format('truetype'),
		url('../fonts/MehrNastaliqWeb.woff') format('woff'),
		url('../fonts/MehrNastaliqWeb.svg#MehrNastaliqWeb') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NastaleeqNuma';
	src:url('../fonts/NastaleeqNuma.eot');
	src:url('../fonts/NastaleeqNuma.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NastaleeqNuma.ttf') format('truetype'),
		url('../fonts/NastaleeqNuma.woff') format('woff'),
		url('../fonts/NastaleeqNuma.svg#NastaleeqNuma') format('svg');
	font-weight: normal;
	font-style: normal;
}