@import "../../../shared/includes.scss";

.ServiceDetail {
    a {
        text-decoration: underline;
    }
    a:hover {
		text-decoration: none;
		border-bottom: 2px black solid;
		@include brand-colors("border-bottom-color");
	}
    .openingTable {
        .not-visible {
            display: none;
        }
    }

    .service-invalid {
        text-align: center;
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
        margin-top: 0px;
    }
}