@import "../../../shared/includes.scss";

.HomeWidget {
  padding: 20px 20px;

  h1,
  h3 {
    font-size: 18px;
    text-transform: uppercase;
  }

  &.Highlighted {
    padding: 20px 0;
    h1 {
      font-size: 24px !important;
      margin-top: 30px;
    }
  }
  .Article.Home {
    h1 {
      font-size: 1.17em;
    }
  }

  .hero {
    // align-items: flex-start !important;
    // margin-right: -20px;
    // margin-left: -20px;
    margin-top: -20px;
    max-height: 440px;
    overflow: hidden;
  }

  a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.CT-article {
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    margin: 40px auto 0;
  }

  @media (min-width: $desktopBreakpoint) {
    & {
      flex-basis: calc(50% - 40px);
      width: 100%;
    }
    &.Highlighted {
      // margin-top: 64px;
      flex-basis: 100%;
      max-width: unset;
      padding: 20px 0px;
      margin-bottom: 7rem;
    }
    & .hero {
      max-height: 440px;
    }

    &.CT-article {
      border: 1px solid #ddd;
      border-radius: 5px;
      flex-basis: unset;
      margin-bottom: 30px;
      width: 100%;
      max-width: 1024px;

      .Article.Home > h1 {
        margin-bottom: 25px;
      }

      .Article.Home > p {
        column-count: 2;
        column-gap: 50px;
        margin-bottom: unset;
      }
    }
  }
  .TopCategories {
    .read-more-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .Read-More {
        text-decoration: underline;
        a {
          font-size: 18px;
          font-weight: 900;
        }
      }
    }
    @media (max-width: $desktopBreakpoint) {
      i {
        font-size: 25px !important;
      }
    }
  }
  .TopCategory {
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 16px;
    height: 130px;
    text-align: center;
    background: #ffffff;
    @include brand-colors("border-color");
    border-top: solid 6px;
    &:hover {
      span {
        text-decoration: underline;
      }

      .icon {
        color: black;
      }
    }

    @media (max-width: $desktopBreakpoint) {
      display: flex;
      height: auto;
      text-align: left;
      width: 100%;
      margin: 3% 0;
    }

    @media (min-width: $desktopBreakpoint) {
      margin-bottom: 5%;
    }

    & .icon {
      color: #555;
      width: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      display: inline-block;
      justify-content: center;
      font-size: 120%;
      @media (min-width: $desktopBreakpoint) {
        width: 100%;
        text-align: center;
        font-size: 50px;
      }

      //	padding-right: 5px;
      //	padding-left: 5px;

      .ltr & {
        padding-left: 15px;
      }
      .rtl & {
        padding-left: 10px;
      }

      & .material-icons {
        font-size: 50px;
      }
    }
  }
}
.CT-widget {
  flex-basis: calc(100% - 40px);
  @media (min-width: $desktopBreakpoint) {
    max-width: 1024px;
  }
}
.top-container {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  .title-line {
    @include brand-colors("border-color");
    border-left: 8px solid;
    height: 50px;
    margin-right: 20px;
    @media (max-width: $desktopBreakpoint) {
      display: none;
    }
  }
}
