@import "../../../../shared/includes.scss";

@mixin lastItem {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 35px;
  .Overlay {
    img {
      margin-right: auto;
      height: 25rem;
      width: 70%;
    }
    .text-container {
      position: absolute;
      top: 37%;
      left: 64%;
      background: #7fb685;
      padding: 20px 20px 30px 20px;
    }
  }
}

.LocalGuide {
  .ltr & {
    s {
      float: right;
    }
  }
  .rtl & {
    s {
      float: left;
    }
  }
  .Container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    @media (min-width: $desktopBreakpoint) {
      grid-template-columns: 48% 48%;
      grid-column-gap: 4%;
    }
    .LocalGuideItem {
      display: block;
      flex-basis: calc(50% - 5px);
      margin-bottom: -1rem;
      .rtl & {
        margin-left: 10px;
        margin-right: 0;
      }
      text-align: center;
      justify-content: center;

      img {
        height: 14rem;
        width: 100%;
        object-fit: cover;
      }

      .text-container {
        position: relative;
        background: #ffffff;
        padding: 10px 15px 20px 15px;
        top: -4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title {
          font-size: 26px;
        }
        .description {
          font-weight: 300;
          text-align: left;
          margin-bottom: 1rem;
        }
        .see-more-article{
          font-weight: 600;
          text-decoration: underline;
        }
      }

      &.item-0 {
        .text-container {
          background: #7fb685;
        }
      }
      @media (min-width: $desktopBreakpoint) {
        margin-bottom: -6%;
        .text-container{
          top: -4rem;
        }
        &.item-0 {
          @include lastItem();
        }
        &.last-item {
          @include lastItem();
        }
      }
    }

    .Overlay {
      position: relative;
      align-items: center;
      display: flex;
      font-size: 14px;
      justify-content: center;
      flex-direction: column;
      .fa {
        font-size: 20px;
        padding: 10px;
      }

      @media (min-width: $desktopBreakpoint) {
        font-size: 16px;
      }
    }
  }
  .read-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .Read-More {
      text-decoration: underline;
      a {
        cursor: pointer;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
}
