@import "../../../../shared/includes.scss";

.LocalGuide {
  .ltr & {
    s {
      float: right;
    }
  }
  .rtl & {
    s {
      float: left;
    }
  }
  .Container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    @media (min-width: $desktopBreakpoint) {
      grid-template-columns: 48% 48%;
      grid-column-gap: 4%;
    }
    .LocalGuideItem {
      display: block;
      flex-basis: calc(50% - 5px);
      margin-bottom: 15px;
      .rtl & {
        margin-left: 10px;
        margin-right: 0;
      }
      text-align: center;
      justify-content: center;

      img {
        height: 72px;
        width: 100%;
        object-fit: cover;
      }
      @media (min-width: $desktopBreakpoint) {
        margin-bottom: 25px;
        &.item-0 {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }

    .Overlay {
      align-items: center;
      background-color: #4b4b4b;
      border: 1px solid #ddd;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      height: 72px;
      justify-content: center;
      overflow: hidden;

      .fa {
        font-size: 20px;
        padding: 10px;
      }

      @media (min-width: $desktopBreakpoint) {
        font-size: 16px;
      }
    }
  }
  .read-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .Read-More {
      text-decoration: underline;
      a {
        cursor: pointer;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
}
