@import "../../shared/includes.scss";

body {
	background-color: black;
}
@media (min-width: $desktopBreakpoint) {
	// body {
	// 	background-color: black;
	// }

	.app-bar-container {
		margin-left: $desktopPaddingWidth;
		margin-right: $desktopPaddingWidth;
	}
	footer {
		border-bottom-width: 0;
		border-top-width: 0;
		border-right-width: 0px;
		border-left-width: 0px;
		border-style: solid;

		border-color: darken(gray, 30%);
	}
	.SkeletonContainer {
		border-bottom-width: 0;
		border-top-width: 0;
		border-right-width: 0;
		border-left-width: 0;
		padding-left: $desktopPaddingWidth;
		padding-right: $desktopPaddingWidth;
		padding-bottom: 20px;
		border-style: solid;

		border-color: darken(gray, 30%);
		//@include grayscale-brand-colors("border-color");
	}
	.bg-gray{
		background-color: #f8f8f8;
	}
}

@media (min-width: $bigDesktopBreakpoint) {
	.app-bar-container {
		margin-left: $bigDesktopPaddingWidth;
		margin-right: $bigDesktopPaddingWidth;
	}
	footer {
		border-right-width: 0px;
		border-left-width: 0px;
	}
	.SkeletonContainer {
		border-right-width: 0;
		border-left-width: 0;
		padding-left: $bigDesktopPaddingWidth;
		padding-right: $bigDesktopPaddingWidth;
		padding-bottom: 20px;
	}
}

s,
square {
	text-decoration: none;
	align-items: baseline;
	.ltr & {margin-bottom:auto; vertical-align: top;}

	& > a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
	}

	&.Read-More {
		align-items: center;
		@include darken-brand-colors("color", 10%);
		display: flex;

		a:hover {
			text-decoration: underline;
		}
	}

	.ltr & > a:before {
		padding-right: 5px;
	}
	.rtl & > a:before {
		padding-left: 5px;
	}
}

a,em,li{color: black;}



.Skeleton {
	.rtl & {
		direction: rtl;
	}
	background-color: #f8f8f8;
}
