$accentIRC: #ffda1a;
$accentGreen: #29991f;
$accentRed: #e60000;
$accentNRC: #FF7602;
$accentPG: #59c2ed;

$titleBackground:  #f0f0f0;
$dividerColor: darken($titleBackground, 30%);

@mixin brand-colors($prop) {
  .irc & {
    #{$prop}: $accentIRC;
  }

  .nrc & {
    #{$prop}: $accentNRC;
  }

  .generic & {
    #{$prop}: $accentGreen;
  }

  .mc & {
    #{$prop}: $accentRed;
  }

  .pg & {
    #{$prop}: $accentPG;
  }
}

@mixin brand-colors-inverse($prop) {
  .irc & {
    #{$prop}: #000000;
  }

  .nrc & {
    #{$prop}: #ffffff;
  }

  .generic & {
    #{$prop}: #FFFFFF;
  }

  .mc & {
    #{$prop}: #ffffff;
  }

  .pg & {
    #{$prop}: #ffffff;
  }
}
