
$accentIRC: #ffda1a;
$accentGreen: #29991f;
$accentRed: #e60000;
$accentNRC: #ff7602;
$accentPG: #59c2ed;

$desktopBreakpoint: 1000px;
$bigDesktopBreakpoint: 1400px;
$desktopPaddingWidth: 15vw;
$bigDesktopPaddingWidth: 20vw;

$titleBackground: #f0f0f0;
$dividerColor: darken($titleBackground, 30%);

@mixin grayscale-brand-colors($prop) {
	.irc & {
		#{$prop}: lighten(grayscale($accentIRC), 20%);
	}

	.nrc & {
		#{$prop}: lighten(grayscale($accentNRC), 20%);
	}

	.generic & {
		#{$prop}: lighten(grayscale($accentGreen), 20%);
	}

	.mc & {
		#{$prop}: lighten(grayscale($accentRed), 20%);
	}

	.pg & {
		#{$prop}: lighten(grayscale($accentPG), 20%);
	}
}

@mixin darken-brand-colors($prop, $per) {
	.irc & {
		#{$prop}: darken($accentIRC, $per);
	}

	.nrc & {
		#{$prop}: darken($accentNRC, $per);
	}

	.generic & {
		#{$prop}: darken($accentGreen, $per);
	}

	.mc & {
		#{$prop}: darken($accentRed, $per);
	}

	.pg & {
		#{$prop}: darken($accentPG, $per);
	}
}

@mixin lighten-brand-colors($prop, $per) {
	.irc & {
		#{$prop}: lighten($accentIRC, $per);
	}

	.nrc & {
		#{$prop}: lighten($accentNRC, $per);
	}

	.generic & {
		#{$prop}: lighten($accentGreen, $per);
	}

	.mc & {
		#{$prop}: lighten($accentRed, $per);
	}

	.pg & {
		#{$prop}: lighten($accentPG, $per);
	}
}
@mixin brand-colors($prop) {
	.irc & {
		#{$prop}: $accentIRC;
	}

	.nrc & {
		#{$prop}: $accentNRC;
	}

	.generic & {
		#{$prop}: $accentGreen;
	}

	.mc & {
		#{$prop}: $accentRed;
	}

	.pg & {
		#{$prop}: $accentPG;
	}
}

@mixin brand-colors-inverse($prop) {
	.irc & {
		#{$prop}: #000000;
	}

	.nrc & {
		#{$prop}: #ffffff;
	}

	.generic & {
		#{$prop}: #ffffff;
	}

	.mc & {
		#{$prop}: #ffffff;
	}

	.pg & {
		#{$prop}: #ffffff;
	}
}
