@import "../../shared/includes.scss";

.Alert {
	@include brand-colors("background-color");
	
	.Alert--wrapper {
		align-items: stretch;
		color: #292633;
		display: flex;
		flex: 1;
		flex-direction: row;
		font-size: 14px;
		font-weight: bold;
		height: auto;
		max-width: 1024px;
		margin: 0 auto;
		padding: 16px;
		position: relative;

		.Alert--separator {
			border-right: 1px solid black;
			margin: 10px 15px 10px 5px;
		}

		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}

		p {
			white-space: pre-line;
		}

		.Alert--close {
			padding: 5px;
		}
	}
}
