@import "../../../shared/includes.scss";

.SearchPage {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 1024px;
	margin: 0 auto;

	padding-bottom: 10px;

	.CategoryList {
		margin: unset;
	}
	.Article,
	.Service {
		display: flex;
		flex-wrap: wrap;

		align-items: flex-start;
		padding: 16px;

		.Image {
			width: 6rem;
			height: 4rem;
			overflow: hidden;
			background-position: center;
			background-size: cover;
			align-self: center;

			.ltr & {
				margin-right: 16px;
			}
			.rtl & {
				margin-left: 16px;
			}

			img {
				width: auto;
			}
		}
		.Text {
			flex: 1;

			display: block;
			min-width: 100%;
		}
		.TextWithImage {
			flex: 1;
			min-width: 1%!important;
			

			display: block;
			min-width: 100%;
		}
		.Read-More {
			padding-top: 10px;
			flex-basis: 100%;
		}
		
	}

	.no-results {
		margin: 0 10px;
	}

	hr {
		width: 100%;
		border: unset;
		border-top: 1px solid #ddd;
		height: 0;

		.ltr & {
			margin-left: 0;
		}
		.rtl & {
			margin-right: 0;
		}

		&.line {
			margin: 0 10px;
			width: auto;
		}
	}


	.Title {
		width: 100%;
		display: flex;
		margin: 0;
		/*background-color: $titleBackground;*/
		min-height: 60px;
		flex-direction: row;
		align-items: center;
	}

	.Title > h1 {
		color: #666;
		display: block;
		flex: 1;
		font-size: 14px;
		font-weight: normal;
		margin: 0;
		padding: 10px;
		text-transform: uppercase;
		width: 100%;
	}

	.Title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}

	.results {
		display: flex;
		flex: 1;
		flex-direction: column;

		img {
			//max-width: 100%;
			margin: auto;
			display: block;
		}
		p {
			margin: 0;
		}

		.services-list > h1,
		.articles-list > h1 {
			font-size: 20px;
			margin: 0 10px;
			
			@media (min-width: $desktopBreakpoint) {
				font-size: 24px;
			}

			.fa {
				.ltr & {
					margin-right: 8px;
				}
				.rtl & {
					margin-left: 8px;
				}
			}
		}

		h2 {
			font-size: 16px;
			font-weight: normal;
			small {
				display: block;
			}
		}

		h3 {
			font-size: 16px;
			small {
				display: block;
			}
			margin-top: 0;

			margin-bottom: 0;
		}

		ul li {
			list-style-type: square;
		}

		.articles-list {
			margin-top: 20px;
		}
	}

	.show-action {
		margin: 10px auto;
		text-align: center;
		width:100%;

		.show-more {
			@include darken-brand-colors("background-color", 10%);
			@include brand-colors-inverse("color");
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 13px;
			height: 41px;
			padding: 0 20px;
			text-align: center;
			white-space: nowrap;

			// margin: 20px auto 10px;
			// width: 120px;


			&:hover {
				@include brand-colors("background-color");
				text-decoration: underline;
			}
		}
	}
}
