/*
Less me
*/
.app-bar {
  display: flex;
  flex: 1;
  justify-content: center;
  position: fixed;
  top: 0; }

.app-bar-container {
  display: flex;
  color: white;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 50;
  flex-grow: 1; }

.app-bar-separator {
  border-left-width: 2px;
  border-left-color: #ffffff;
  border-left-style: solid;
  border-radius: 1px;
  height: 25px; }
  .irc .app-bar-separator {
    border-left-color: #ffda1a; }
  .nrc .app-bar-separator {
    border-left-color: #FF7602; }
  .generic .app-bar-separator {
    border-left-color: #29991f; }
  .mc .app-bar-separator {
    border-left-color: #e60000; }

.app-bar-logo {
  height: 40px;
  margin-top: 10px;
  background-color: #ffffff; }
  .irc .app-bar-logo {
    background-color: #ffda1a; }
  .nrc .app-bar-logo {
    background-color: #FF7602; }
  .generic .app-bar-logo {
    background-color: #29991f; }
  .mc .app-bar-logo {
    background-color: #e60000; }

.headroom {
  top: 0;
  left: 0;
  right: 0;
  zIndex: 1; }

.headroom--unfixed {
  position: relative;
  transform: translateY(0); }

.headroom--scrolled {
  transition: transform 200ms ease-in-out; }

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%); }

.headroom--pinned {
  position: fixed;
  transform: translateY(0%); }
