/*
Less me
*/
@import "../shared/includes.scss";

.app-bar {
	@include flexbox();
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(flex-start);

	position: fixed;
	width: 100%;
	top: 0;
	height: 64px;
	box-shadow: 0 1px 1px 0;
	background-color: #000000;
}

.app-bar-container {

    display: -webkit-box;
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: white;
	flex: 1;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	height: 50;

	@media (max-width: $desktopBreakpoint) {
		&.logo {
			.rtl & {
				padding-right: 18px;
			}
			.ltr & {
				padding-left: 18px;
			}
		}
		&.buttons {
			.ltr & {
				padding-right: 18px;
			}
			.rtl & {
				padding-left: 18px;
			}
		}
	}
}

.logo-centered {
	align-items: center;
	justify-content: center;
}

.app-bar-buttons {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	.app-bar-selectors {
	padding: 16px 11px;
	text-transform: uppercase;
	font-size: 14px;

		.rtl & {
			font-family: "Cairo", sans-serif;
		}
	}
}

.app-bar-separator {
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-left-style: solid;
	height: 25px;
	@include brand-colors( "border-left-color");
}

.app-bar-logo {
	height: 40px;
	cursor: pointer;
}

.headroom {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.headroom--unfixed {
	position: relative;
	-ms-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0);
}

.headroom--scrolled {
	-moz-transition: transform 200ms ease-in-out;
	-webkit-transition: transform 200ms ease-in-out;
	transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
	@extend .headroom--scrolled;
	position: fixed;
	-ms-transform: translateY(-65px);
	-moz-transform: translateY(-65px);
	-webkit-transform: translateY(-65px);
	transform: translateY(-65px);
}

.headroom--pinned {
	@extend .headroom--scrolled;
	position: fixed;
	-ms-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.AppHeader {
	.SearchBar {
		height: 30px;
		padding-bottom: 1em;
		padding-left: 16px;
		padding-right: 16px;
		background-color: black;

		input {
			-webkit-appearance: none;
			line-height: 25px;
			font-size: 20px;
			width: 100%;
			box-sizing: border-box;
			border: 0;
			background-color: black;
			border-bottom: 2px white solid;
			color: white;

			padding: 0;
			border-radius: 0;
		}
		input:focus {
			outline: none;
		}
		.fa-times-circle {
			margin-inline-start: -33px;
			margin: 5px 5px;
			top: 60px;

			.ltr & {
				right: 35px;
			}
			.rtl & {
				left: 35px;
			}
		}
		.fa-search {
			margin: 5px 5px;
			top: 60px;
			.ltr & {
				right: 5px;
			}
			.rtl & {
				left: 5px;
			}
		}
		.fa {
			color: white;
			width: 25px;
			font-size: 20px;

			position: absolute;
		}
	}
}

$icon-width: 22px;
$icon-height: 22px;
$icon-width: 20px;
$icon-height: 20px;
$border-width: 2px;
$transition-duration: 0.3s;
$color: #ffffff;

.search-close > span:first-of-type {
	position: relative;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	text-align: center;
	max-width: $icon-width;
	height: $icon-height;
	cursor: pointer;
	margin-top: 22px;
	.rtl & {
		left: 0;
	}
}

.search-close > span:first-of-type:before,
.search-close > span:first-of-type:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border: $border-width solid $color;
}

.search-close > span:first-of-type:before {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	border-width: $border-width;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg); /* FF3.5/3.6 */
	-o-transform: rotate(45deg); /* Opera 10.5 */
	-webkit-transform: rotate(45deg); /* Saf3.1+ */
	transition: all $transition-duration, background-color 0s linear 0s;
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod="auto expand", M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}

.search-close > span:first-of-type:after {
	border-width: ($border-width / 2);
	width: 0;
	height: 35%;
	left: 75%;
	top: 75%;
	margin-left: 0;
	margin-top: 0;
	background-color: $color;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: all $transition-duration;
}

.active > span:first-of-type:before {
	width: 0;
	height: 100%;
	border-radius: 0;
	border-width: ($border-width / 2);
	left: 50%;
	background-color: $color;
	transition: all $transition-duration, background-color 0s linear 0.3s;
	transform: translateX(-$border-width / 2) rotate(45deg);
}
.active > span:first-of-type:after {
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}
.MuiIconButton-label-30 > svg,
.MuiSvgIcon-root-102 {
	display: none;
}

.SearchButton {
	width: 100%;
	display: flex;
	align-items: inherit;
	justify-content: inherit;
	transform: translate(-50%, -50%);
	text-align: center;
	max-width: $icon-width;
	height: $icon-height;
	cursor: pointer;
	margin-top: 24px;
	margin-left: 20px;
}

.SearchButton:before,
.SearchButton:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border: $border-width solid $color;
}

.SearchButton:before {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	border-width: $border-width;
	transform: rotate(45deg);
	transition: all $transition-duration, background-color 0s linear 0s;
}
.active .SearchButton:before {
	width: 0;
	height: 100%;
	border-radius: 0;
	border-width: ($border-width / 2);
	left: 50%;
	background-color: $color;
	transition: all $transition-duration, background-color 0s linear 0.3s;
	transform: translateX(-$border-width / 2) rotate(45deg);
}

.SearchButton:after {
	border-width: ($border-width / 2);
	width: 0;
	height: 35%;
	left: 75%;
	top: 75%;
	margin-left: 0;
	margin-top: 0;
	background-color: $color;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: all $transition-duration;
}
.active .SearchButton:after {
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.SearchButton svg {
	display: none;
}
