/*
Less me
*/
@import '../includes.scss';

.app-bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  top: 0;
  height: 64px;
  box-shadow: 0 1px 1px 0;


  background-color: #000000;

  .rtl & {
    flex-direction: row-reverse;
  }
}

.app-bar-container {
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  color: white;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 50;
}

.app-bar-buttons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.app-bar-separator {
  border-left-width: 2px;
  border-left-color: #ffffff;
  border-left-style: solid;
  border-radius: 1px;
  height: 25px;
  @include brand-colors( 'border-left-color');
}

.app-bar-logo {
  height: 40px;
  background-color: #ffffff;
  @include brand-colors( 'background-color');
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  @extend .headroom--scrolled;
  position: fixed;
  transform: translateY(-65px);
}

.headroom--pinned {
  @extend .headroom--scrolled;

  position: fixed;
  transform: translateY(0%);
}
