/*
Less me
*/
@import "../shared/includes.scss";

.app-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	width: 100%;
	top: 0;
	height: 64px;
	box-shadow: 0 1px 1px 0;
	background-color: #000000;
}

.app-bar-container {
	display: flex;
	color: white;
	flex: 1;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	height: 50;

	@media (max-width: $desktopBreakpoint) {
		&.logo {
			.rtl & {
				padding-right: 18px;
			}
			.ltr & {
				padding-left: 18px;
			}
		}
		&.buttons {
			.ltr & {
				padding-right: 18px;
			}
			.rtl & {
				padding-left: 18px;
			}
		}
	}
}

.logo-centered {
	align-items: center;
	justify-content: center;
}

.app-bar-buttons {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	span {
		.rtl & {
			font-family: "Cairo", sans-serif;
		}
	}
}

.app-bar-separator {
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-left-style: solid;
	height: 25px;
	@include brand-colors( "border-left-color");
}

.app-bar-logo {
	height: 40px;
}

.headroom {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.headroom--unfixed {
	position: relative;
	-ms-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0);
}

.headroom--scrolled {
	-moz-transition: transform 200ms ease-in-out;
	-webkit-transition: transform 200ms ease-in-out;
	transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
	@extend .headroom--scrolled;
	position: fixed;
	-ms-transform: translateY(-65px);
	-moz-transform: translateY(-65px);
	-webkit-transform: translateY(-65px);
	transform: translateY(-65px);
}

.headroom--pinned {
	@extend .headroom--scrolled;
	position: fixed;
	-ms-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}
.AppHeader {
	.SearchBar {
		display: flex;
		height: 30px;
		padding-bottom: 1em;
		padding-left: 16px;
		padding-right: 16px;
		background-color: black;

		input {
			line-height: 25px;
			font-size: 20px;
			flex: 1;
			border: 0;
			background-color: black;
			border-bottom: 2px white solid;
			color: white;
		}
		input:focus {
			outline: none;
		}
		.fa-times-circle {
			position: relative;
			margin-inline-start: -30px;
		}
		.fa {
			color: white;
			width: 25px;
			font-size: 20px;
			text-align: end;
		}
	}
}

$icon-width: 24px;
$icon-height: 24px;
$border-width: 2px;
$transition-duration: .3s;
$color: #ffffff;

.MuiIconButton-label-30 {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  max-width: $icon-width;
  height: $icon-height;
  cursor: pointer;
	margin-top: 20px;
}

.MuiIconButton-label-30:before, .MuiIconButton-label-30:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: $border-width solid $color;
}

.MuiIconButton-label-30:before {
  width: 75%;
  height: 75%;
  border-radius: 50%;
	border-width: $border-width;
	transform: rotate(45deg);
  transition: all $transition-duration, background-color .0s linear .0s;
}
.active > span:nth-child(1):before {
  width: 0;
  height: 100%;
  border-radius: 0;
  border-width: ($border-width / 2);
  left: 50%;
  background-color: $color;
  transition: all $transition-duration, background-color .0s linear .3s;
  transform: translateX(-$border-width / 2) rotate(45deg);
}

.MuiIconButton-label-30:after {
  border-width: ($border-width / 2);
  width: 0;
  height: 35%;
  left: 75%;
  top: 75%;
  margin-left: 0;
  margin-top: 0;
  background-color: $color;
  transform: translate(-50%, -50%) rotate(-45deg) ;
  transition: all $transition-duration;
}
.active > span:nth-child(1):after {
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg) ;
}

.MuiIconButton-label-30 svg {display: none;}
