@import "../shared/includes.scss";

.ArticlePage {
	&.loading {
		opacity: 0.2;
		transition: opacity 0.2s ease-in-out;
	}
	&.loaded {
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
	}
	u {
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
		border-bottom: 2px black solid;
		@include brand-colors("border-bottom-color");
	}

	.with-lines {
	}
	.pos,
	.neg {
		display: none;
		visibility: hidden;
		height: 0;
		width: 0;
		margin: 0;
		padding: 0;
	}
	.pos + ul,
	.neg + ul {
		padding: 0;

		li {
			list-style: none;

			&::before {
				font-family: "FontAwesome";
			}
		}
	}
	.pos + ul {
		li {
			&::before {
				content: "\f00c ";
				color: #29991F;
			}
		}
	}
	.neg + ul {
		li {
			&::before {
				content: "\f00d ";
				color: #E60000;
			}
		}
	}

	.Facebook {
		width: 100%;
	}

	.YouTube {
		width: 100%;
	}

	blockquote {
		border-left-width: 3px;
		border-left-style: solid;
		padding-left: 1em;
		margin: 2px;

		@include darken-brand-colors("border-left-color", 5%);
	}

	hr {
		width: 10%;
		border-width: 1px;
		border-style: solid;
		border-radius: 2px;
		height: 0;
		.ltr & {
			margin-left: 0;
		}
		.rtl & {
			margin-right: 0;
		}

		color: #000000;
		border-color: #000000;

		@include brand-colors("color");
		@include brand-colors("border-color");
	}

	.title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
	}

	.title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}

	article {
		padding: 5px;
	}

	.hero {
		background-color: #000000;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hero > img {
		max-width: 100%;
	}

	article {
		margin-left: 5px;
		margin-right: 5px;

		img {
			max-width: 100%;
			margin: auto;
			display: block;
		}

		h1 {
			font-size: 24px;
		}

		h2 {
			font-size: 18px;
		}

		h3 {
			font-size: 16px;
		}

		ul li {
			list-style-type: square;
			margin-bottom: 0.5em;
		}
	}
}
