@import "../shared/includes.scss";

.ArticlePage {
	&.loading {
		opacity: 0.2;
		transition: opacity 0.2s ease-in-out;
	}
	&.loaded {
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
	}

	s {
		text-decoration: none;
		& > a {
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
		}
		& > a:before {
			content: "□";
			padding-right: 5px;
			font-size: 1em;

			.irc & {
				color: $accentIRC;
				border-color: $accentIRC;
			}

			.nrc & {
				color: $accentNRC;
				border-color: $accentNRC;
			}

			.generic & {
				color: $accentGreen;
				border-color: $accentGreen;
			}

			.mc & {
				color: $accentRed;
				border-color: $accentRed;
			}
		}
	}

	hr {
		width: 20%;
		border-width: 1px;
		border-style: solid;
		border-radius: 2px;
		height: 0;
		margin-left: 0;

		color: #000000;
		border-color: #000000;

		.irc & {
			color: $accentIRC;
			border-color: $accentIRC;
		}

		.nrc & {
			color: $accentNRC;
			border-color: $accentNRC;
		}

		.generic & {
			color: $accentGreen;
			border-color: $accentGreen;
		}

		.mc & {
			color: $accentRed;
			border-color: $accentRed;
		}
	}

	.title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
	}

	.title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}

	article {
		padding: 5px;
	}

	.hero {
		background-color: #000000;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hero > img {
		max-width: 100%;
	}

	article {
		margin-left: 5px;
		margin-right: 5px;

		img {
			max-width: 100%;
			margin: auto;
			display: block;
		}

		h1 {
			font-size: 24px;
		}

		h2 {
			font-size: 18px;
		}

		h3 {
			font-size: 16px;
		}

		ul li {
			list-style-type: square;
		}

		a,
		em,
		li,
		p {
			color: #404040;
			font-size: 14px;
		}
	}
}
