@import "../shared/includes.scss";

.ArticleFooter {
	& {
		background: $titleBackground;
		border-top: 1px black solid;
	}

	hr {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: $dividerColor;
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 95%;
		opacity: 0.6;
	}

	.divider {
		border-top-color: black;
		border-top-color: darken($dividerColor, 20%);
		width: 95%;
	}
	.icon {
		margin: 0px 20px 10px 10px;
	}
	.verticalHR {
		border-left: 1px black solid;
		width: 2px;
		display: block;
		height: 40px;
		.ltr & {
			margin-right: 20px;
		}
		.rtl & {
			margin-left: 20px;
		}
	}

	.selector {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		&:active {
			background-color: darken($titleBackground, 5%);
		}
	}

	.selector > h1 {
		font-size: 16px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px 10px 10px 20px;
		flex: 1;
	}

	.sharePage {
		padding: 0px;
	}
	.sharePage > h1 {
		padding: 0;
		&:first-child {
			flex: 1;
			.ltr & {
				padding-left: 20px;
			}
			.rtl & {
				padding-right: 20px;
			}
		}
	}

	.sharePage .icon {
		margin: 0px 5px 0px 5px;

		.ltr & {
			margin-right: 20px;
		}
		.rtl & {
			margin-left: 20px;
		}
	}

	.selector > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}

	.up {
		display: none;
	}

	input {
		display: none;
	}

	input:checked + label > .up {
		display: flex;
	}

	input:checked + label > .down {
		display: none;
	}

	input:checked ~ ul {
		display: block;

		transition: display 2s ease-in-out;
	}
}
