@import "../shared/includes.scss";
.Article {
    .Facebook {
        width: 100%;
    }

    .YouTube {
        width: 100%;
    }
    h3 {
        text-transform: uppercase;
    }
    p {
        margin-top: 0;
        font-weight: 300;
        line-height: 1.6;
        opacity: 1;
        u {
            text-decoration: none;
        }
    p:hover{opacity: 0.85;}
    }

    .hero {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero > img {
        width: 100%;
    }
    .hero .overlay {
        @media (min-width: $desktopBreakpoint) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0.5;
            background-color: #000000;
        }
    }

    .pos,
    .neg {
        display: none;
        visibility: hidden;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }
    .pos + ul,
    .neg + ul {
        padding: 0;

        li {
            list-style: none;

            &::before {
                font-family: "FontAwesome";
            }
        }
    }
    .pos + ul {
        li {
            &::before {
                content: "\f00c ";
                color: green;
            }
        }
    }
    .neg + ul {
        li {
            &::before {
                content: "\f00d ";
                color: red;
            }
        }
    }
}
