@import "../shared/includes.scss";

.ArticleFooter {
	& {
		background: $titleBackground;
		border-top: 1px black solid;
	}

	hr {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: $dividerColor;
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 95%;
	}

	.divider {
		border-top-color: black;
		@include darken-brand-colors("border-top-color",20%);
		
		width: 100%;
	}
	.icon {
		padding-right: 10px;
		padding-left: 10px;
	}

	.selector {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
	}

	.selector > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}

	.selector > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}

	.up {
		display: none;
	}


	input {
		display: none;
	}

	input:checked + label > .up {
		display: flex;
	}

	input:checked + label > .down {
		display: none;
	}

	input:checked ~ ul {
		display: block;

		transition: display 2s ease-in-out;
	}
}
