@import "../shared/includes.scss";

.CategoryList {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.article-title:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.fa {
		font-size: 20px;
		width: 31px;
	}
	.article-container {
		padding: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	ul li .container {
		padding: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	& > ul li .container > i {
		padding-right: 10px;
		width: 25px;
		
	}

	ul li .inner-container {
		padding: 10px;
		display: flex;
		flex-direction: row;
	}

	ul > li > label {
		font-size: 18px;
		display: block;
		margin: 0;
		cursor: pointer;
	}
	.category-name {
		flex-grow: 9;
	}

	ul > li > ul {
		list-style: none;
		display: none;
		margin: 0;
		padding: 0;
		margin-right: 40px; 
		margin-left: 40px; 
		&.sub-categories {
			margin-right: 50px; 
			margin-left: 50px; 
			padding-right: 10px; 
			padding-left: 10px; 
			@include brand-colors('border-left-color');
			@include brand-colors('border-right-color');
			
			.ltr & {
				border-left-width: 3px;
				border-left-style: solid;
			} 
			
			.rtl & {
				border-right-width: 3px;
				border-right-style: solid;
			} 
			
		}
	}

	hr {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: lighten($dividerColor, 30%);
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 95%;
	}

	input {
		display: none;
	}

	.up {
		display: none;
		flex-grow: 1;
		align-self: flex-end;
		align-items: flex-end;
		flex-direction: column;
	}

	.down {
		display: flex;
		flex-grow: 1;
		align-self: flex-end;

		align-items: flex-end;
		flex-direction: column;
	}

	input:checked + label > .up {
		display: flex;
	}

	input:checked + label > .down {
		display: none;
	}

	input:checked ~ ul {
		display: block;

		transition: display 2s ease-in-out;
	}
}
