@import "../shared/includes.scss";

.CategoryList {
	.article-title:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	.CategoryTitle {
		height: 72px;
		padding-left: 16px;
		padding-right: 16px;
		text-transform: uppercase;
		background: #f2f2f2;
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.fa {
		font-size: 20px;
		width: 31px;
	}
	.article-container {
		padding: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.tiles-desktop {
		display: none;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	@media (min-width: $desktopBreakpoint) {
		.tiles-mobile {
			display: none;
		}
		.tiles-desktop {
			display: inline-block;
			width: 100%;

			select {
				margin: 10px 0 25px 10px;
				width: 23rem;
				height: 41px;
			}

			.tile {
				overflow: hidden;
				a {
					text-decoration: none;
					
					&:hover {
						text-decoration: underline;
					}

					h2 {
						font-weight: normal;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}
		}
		ul li{
			display: inline-block;
			margin: 1%;
			width: 48%;

			@media (min-width: $bigDesktopBreakpoint) {
				width: 31%;
				
				.img-viewport {
					height: 14vw !important;
				}
			}

			.img-viewport {
				cursor: pointer;
				display: flex;
				height: 23vw;
				overflow: hidden;
				-ms-flex-align: center;
				align-items: center;
				-ms-flex-pack: center;
				justify-content: center;
				margin-left: -4vw;
				margin-right: -4vw;
		
				img {
					width: 100%;
				}
			}


			&.selected{
				background-color: #fdda14;
			}
		}

		ul li ul{
			position: absolute;
			left: 2vw;
			right: 6vw;
			background-color: white;
			margin-top: 20px !important;
			box-shadow: 6px 6px 10px -2px;
		}
		ul li ul li{
			width: 33%;
			margin: 0px;
			box-shadow: 0px 0px 0px 0px;
			line-height: 45px;
			border-bottom: 1px solid #e1dfdf;
			font-size: 16px;
		}
		.line{
			display: none;
		}
		.material-icons{
			font-size: 20px;
		}

		ul li .container{
			width: calc(100% - 32px);
			display: inline-table;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			user-select: none;			
		}
	}
	
	ul li .container {
		padding: 16px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:active {
			background-color: #f6f6f6;
		}
	}
	& > ul li .container > i {
		padding-right: 10px;
		width: 25px;
	}

	ul li .inner-container {
		padding: 10px;
		display: flex;
		flex-direction: row;
	}

	ul > li > label {
		font-size: 18px;
		display: block;
		margin: 0;
		cursor: pointer;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	ul > li > ul {
		list-style: none;
		display: none;
		margin: 0;
		padding: 0;
		margin-right: 40px;
		margin-left: 40px;
		&.sub-categories {
			margin-right: 50px;
			margin-left: 50px;
			padding-right: 10px;
			padding-left: 10px;
			@include brand-colors("border-left-color");
			@include brand-colors("border-right-color");

			.ltr & {
				border-left-width: 3px;
				border-left-style: solid;
			}

			.rtl & {
				border-right-width: 3px;
				border-right-style: solid;
			}
		}

		&> li {
			font-size: 16px;
		}
	}
	.category-name {
		flex-grow: 9;
		font-size: 16px;
	}


	hr {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: #ddd;
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 95%;
	}

	.up {
		display: none;
		flex-grow: 1;
		align-self: flex-end;
		align-items: flex-end;
		flex-direction: column;
	}

	.down {
		display: flex;
		flex-grow: 1;
		align-self: flex-end;

		align-items: flex-end;
		flex-direction: column;
	}

	input {
		display: none;
	}

	input:checked + label > .up {
		display: flex;
	}

	input:checked + label > .down {
		display: none;
	}

	input:checked ~ ul {
		display: block;

		transition: display 2s ease-in-out;
	}

}

.select-css {
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMTYuMDAzIDE4LjYyNmw3LjA4MS03LjA4MUwyNSAxMy40NmwtOC45OTcgOC45OTgtOS4wMDMtOSAxLjkxNy0xLjkxNnoiLz48L3N2Zz4='), linear-gradient(to bottom, #f2f2f2 0%,#f2f2f2 100%);
	background-position: right .7em top 50%, 0 0;
	background-repeat: no-repeat, repeat;
	background-size: 1em auto, 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	color: #444;
	cursor: pointer;
	display: block;
	font-size: 15px;
	padding: .6em 1.4em .5em .8em;

	&:focus {
		outline: none;
	}
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #999;
}
.select-css option {
	font-weight:normal;
}