@import '../includes.scss';

hr {
  width: 20%;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  height: 0;
  margin-left: 0;

  color: #000000;
  border-color: #000000;

  .irc & {
    color: $accentIRC;
    border-color: $accentIRC;
  }

  .nrc & {
    color: $accentNRC;
    border-color: $accentNRC;
  }

  .generic & {
    color: $accentGreen;
    border-color: $accentGreen;
  }

  .mc & {
    color: $accentRed;
    border-color: $accentRed;
  }
}

.title {
  width: 100%;
  display: flex;
  margin: 0;
  background-color: #f0f0f0;
  min-height: 60px;
  flex-direction: row;
  align-items: center;
}

.title > h1 {
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  flex: 1;
}

article {
  padding: 5px;
  margin-bottom: 50px;
}

.hero {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero > img {
  max-width: 100%;
}

article {
  img {
    max-width: 100%;
    margin: auto;
    display: block;
  }

  h1 {
    font-size: 24px;
    text-transform: uppercase;
  }

  h2 {

    font-size: 18px;
  }

  h3 {

    font-size: 16px;
  }

  a,
  em,
  li,
  p {
    color: #404040;
    font-size: 14px;
  }
}
