@import '../shared/includes.scss';
@import '../../shared/includes.scss';

footer .light {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100px;
    padding: 5px 5px 5px 5px;

    p {
        margin-bottom: 0;
    }

    &, a {
        @include brand-colors('background-color');
        @include brand-colors-inverse('color');
    }
}
footer .dark {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 200px;
    padding: 5px 5px 5px 5px;
    background-color: #000000;
    color: #ffffff;
}

footer {
      margin-bottom: 57px;
}