@import "../shared/includes.scss";

.Footer {
	#lang-icn {
		height: 24px;
	}

	.fill-clr {
		@include brand-colors("fill");
	}

	.cls-1 {
		fill: none;
	}
	.cls-2 {
		clip-path: url(#clip-path);
	}
	.cls-3 {
		clip-path: url(#clip-path-2);
	}
	.cls-5 {
		clip-path: url(#clip-path-3);
	}

	.Signpost {
		a {
			@include brand-colors("color");
			opacity: 1;
			.rtl & {
				flex: 1;
			}
		}

		.rtl & {
			direction: rtl!important;
			flex-direction: row-reverse;
		}
		span{
			padding:0 3px 0 3px;
		}
	}

	.light {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 100px;
		padding: 5px;
		h3 {
			margin:10px;
			.rtl & {
				line-height: 3px;
			}
		}
		p {
			margin-bottom: 0;
			color: black;

		}
		&,
		a {
			@include brand-colors( "background-color");
			@include brand-colors-inverse( "color");

		}
	}

	.dark {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-direction: column;
		min-height: 200px;
		padding: 5px;
		background-color: #000000;
		color: #ffffff;

		img.app-store-logo {
			max-height: 50px;
			margin-top: 10px;
		}

		span {
			text-align: center;
			font-size: 12px;
			letter-spacing: inherit;
			align-items: baseline;
			margin:0.4rem;
			color: #F5F5F5;

			&.padded {
				padding: 3em;
			}
		}
	}

	.button-container {
		display: flex;
		flex-direction: row;
		width: 90%;
		padding-top: 1.6em;
		padding-bottom: 1.2em;
		border-bottom: 1px $dividerColor solid;

		.rtl & {
			flex-direction: row-reverse;
		}
	}

	.button {
		flex-grow: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;

		&.left {
			height: 100%;
			border: 0;
			border-right-color: $dividerColor;
			border-right-width: 1px;
			border-right-style: solid;
		}

		.icon-container {
			@include brand-colors( "color");
		}
	}

	& {
		margin-bottom: 57px;
	}
}
