@import '../shared/includes.scss';

.Footer {
  .light {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100px;
    padding: 5px;

    p {
      margin-bottom: 0;
    }

    &,
    a {
      @include brand-colors( 'background-color');
      @include brand-colors-inverse( 'color');
    }
  }

  .dark {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    flex-direction: column;

    min-height: 200px;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;


    img.app-store-logo {
      max-width: 200px;
    }

    span {
      text-align: center;
      font-size: 12px;

      &.padded {
        padding: 3em;
      }
    }

  }

    .button-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-top: 1em;
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px $dividerColor solid;
    }

    .button-separator {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .middle {
          height: 100%;
          border: 0;
          background-color: $dividerColor;
          width: 1px;
      }
    }

    .button {
      flex-grow: 3;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .icon-container {
        @include brand-colors( 'color');
      }
    }
  & {
    margin-bottom: 57px;
  }
}
