@import "../shared/includes.scss";

.HomeWidgetCollection {
  @media (min-width: $desktopBreakpoint) {
    & {
      display: flex;
      flex-direction: row;
			flex-wrap: wrap;
			margin: 0 auto;
			max-width: 1024px;
    }
  }
}
