@import "../shared/includes.scss";

.HomeWidget {
	padding: 20px 20px;
	.hero {
		margin-right: -20px;
		margin-left: -20px;
		margin-top: -20px;
	}

	@media (min-width: $desktopBreakpoint) {
		& {
			flex-basis: calc(50% - 40px);
		}
		&.Highlighted {
			flex-basis: 100%;
		}
		& .hero {
		}

		&:first-child.Highlighted .hero {
			background-color: black;
			//@include brand-colors("background-color");
		}
	}
s > a:hover{opacity: 0.86}
	s.Read-More {
		line-height: 100%;
		flex-direction: row;
	}


	.TopCategory {
		display: flex;
		flex-direction: row;
		max-width: max-content;
		align-items: center;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding-bottom: 16px;

		& .icon {
			width: 30px;
			display: flex;
			flex-direction: row;
			align-items: center;
			display: inline-block;
			justify-content: center;
			font-size: 120%;
			//	padding-right: 5px;
			//	padding-left: 5px;

			.ltr & {
				padding-right: 10px;
			}
			.rtl & {
				padding-left: 10px;
			}
		}
	}
}
