@import "./Selectors.scss";

.LanguageSelector {
	@include selectors();

	.icon {
		flex-grow: 1;
		max-height: 200px;

		padding: 20px; }
	.item {
		cursor:pointer;
		font-weight: 500;
	}

	.text {
		margin-top: 10px;
		height: auto;
		i {
			margin: 20px;
		}
	}
}

.p-t-20 {
	padding-top: 20px; }
