@import "../shared/includes.scss";

@mixin service-common() {
	hr {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: $dividerColor;
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 95%;
		opacity: 0.6;
	}
	.MenuIcon {

		font-size: 20px;
	}

	.Spacer {
		height: 30vh;
		display: block;
		width: 100%;
		display: flex;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;
	}

	.footer {
		background-color: $titleBackground;

		& .MenuIcon {
			margin: 0px 20px 10px 10px;
		}
	}

	.Selector {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		&:active {
			background-color: darken($titleBackground, 5%);
		}
	}

	.Selector > h1 {
		font-size: 16px;
		display: block;
		width: 85%;
		margin: 0;
		padding: 10px 10px 10px 20px;
		flex: 1;
		overflow:hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
		a {
			line-height: 20px;
			margin-left: 5px;
			margin-right: 5px;
		}
		.phoneFormat{
			display: inline-block;
			direction: ltr;
		}
		.noPhoneFormat{
			display: inline-block;
		}
	}

	.Selector > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}
}

.ServiceCategoryList,
.ServiceListContainer {
	display: flex;
	flex-wrap: wrap;
	@include service-common();
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	ul li .container {
		padding: 16px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;

		&:active {
			background-color: #f6f6f6;
		}
		
	}
	ul li .disabled{
		color: grey;
		cursor: default;
	}
	& > ul li .container > i {
		padding-right: 10px;
		width: 25px;
		font-size: 18px;
		line-height: 24px;
	}
	& > ul li .container > strong {
		font-size: 18px;
		min-height: 24px;
		line-height: 24px;
	}
	

	hr {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: lighten($dividerColor, 30%);
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 95%;
	}
	.right {
		display: flex;
		flex-grow: 1;
		align-self: flex-end;

		align-items: flex-end;
		flex-direction: column;
	}
}
.ServiceCategoryList {
	.CategoryContainer {
		flex: 1;
		flex-grow: 1;
		flex-basis: 50%;

		@media (min-width: $desktopBreakpoint) {
			flex-basis: 25%;
		}

		display: flex;
		flex-direction: column;
		height: 100px;
		i {
			font-size: 35px;
		}
	}
	.Category {
		display: flex;
		flex-direction: column;
		margin: 2px 2px;
		border: 1px black solid;
		border-radius: 5px;
		//@include darken-brand-colors("border-color", 20%);
		@include brand-colors("background-color");
		@include brand-colors-inverse("color");

		flex: 1;
		flex-grow: 1;
		flex-basis: 100%;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;

		text-align: center;

		span {
			line-height: 20px;
			font-size: 16px;
		}

		&:active {
			@include darken-brand-colors("background-color", 30%);
		}
	}

	& > .Title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		text-transform: uppercase;
		text-align: center;
	}

	.Title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.Title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}
	.NoServices > h2{
		padding: 20px;
		font-style: italic;
	}
}

.ServiceList,
.ServiceMap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	#MapCanvas{
		z-index: 1;
	}
	#MapCanvas2{
		z-index: 1;
	}

	@include service-common();

	.Title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		text-transform: uppercase;
	}

	.Title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.Title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}
	.Items {
		flex: 1;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
	}

	.Item {
		flex: 1;
		flex-basis: 100%;
		border-bottom: 1px $titleBackground solid;
		min-height: 42px;

		display: flex;

		cursor: pointer;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		@media (min-width: $desktopBreakpoint) {
			flex-basis: 50%;
		}
		i.material-icons {
			justify-self: center;
			align-self: center;

			.rtl &:after {
				content: "keyboard_arrow_left";
			}
			.ltr &:after {
				content: "keyboard_arrow_right";
			}
		}

		&:active {
			background-color: #f6f6f6;
		}

		> .Icon {
			padding-top: 10px;
			text-align: center;
			width: 56px;
		}
	}

	.Icons {
		display: flex;
		margin: 10px 0 0;
		.Icon {
			padding-right: 15px;
		};
		flex-wrap: wrap;
	}
	.Info {
		display: flex;
		flex: 1;
		flex-direction: column;

		h1 {
			font-size: 100%;
			font-weight: bold;
		}
		h2 {
			padding: 0;
			margin: 0;
			font-size: 90%;
			font-weight: normal;

			small {
				display: block;
				padding-top: 6px;
				text-decoration: underline;
			}
		}
	}
	.Unavailable {
		li > h1 {
			font-size: 90%;
			margin-top: 30px;
			text-align: center;
		}
		.Item {
			opacity: 0.38;
			pointer-events: none;
			.Icon {
				i::before {
					color: black;
				}
			}
		}		
	}

	.Error {
		padding: 16px 16px;
	}
}

.ServiceList {
	.Icons {
		margin-bottom: 10px;
	}
}

.ServiceMap {
  .leaflet-popup-tip-container {
    display: block;
    margin-top: -1px;
  }
  .leaflet-control-attribution a {
    font-size: 1em;
	}
	.leaflet-popup {
		width: 300px;
		left: -150px;
	}
  .leaflet-popup-content {
    // margin: 5px 0;
    .Item {
			border-bottom: 0;
			cursor: pointer;
			display:block !important;
			.Item-content {
				padding: 0 10px;
			}
      .Icons {
				display:flex;
				width:95%;
        flex-direction: row;
				margin-top:15px;
        .Icon {
					display: flex;
					min-width: 20px;
          padding: 0 10px 15px 5px;
          i {
            width: 100%;
            height: 100%;
            font-size: 18px;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
          }
        }
			}
      .Info {
				.title{
					background-color: #f5f5f5;
					display: flex;
					justify-content: space-between;
				}
        h1 {
          font-size: 120%;
          margin: 0;
					padding: 10px 0;
					text-decoration: underline;
        }
        h2 {
          color: #777;
          font-size: 110%;
          font-weight: bold;
          margin: 5px 0;
				}
				address {
					text-decoration: underline;
				}
        .fullAddress {
          font-style: normal;
        }
        .regionTitle {
          font-style: normal;
          margin-top: 5px;
        }
      }
    }  
  }

  .leaflet-div-icon {
    background: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 0 5px rgba(0,40,80,0.15);
    height: 40px !important;
    width: 40px !important;

    .Icon {
      font-size: 22px;
      text-align: center;

      i {
        position: relative;
          top: 5px;
      }
    }
  }
  .marker-cluster {
    border-radius: 50px !important;
    height: 50px !important;
    margin-left: -25px !important;
    margin-top: -25px !important;
    width: 50px !important;
  }
  .marker-cluster div {
    border-radius: 50px !important;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    margin-left: 6px;
    margin-top: 6px;
    text-shadow: 0 0 1px rgba(255,255,255,1),
                 0 0 1px rgba(255,255,255,1),
                 0 0 1px rgba(255,255,255,1);
    width: 38px;
  }
  .marker-cluster-small, .marker-cluster-small div {
    background-color: rgba(250, 120, 150, 0.6);
  }
}

.ServiceDetail {
	flex-wrap: wrap;

	@include service-common();
	.openingTable {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.MapCursor{
		cursor:pointer;
	}

	table {
		border-collapse: collapse;
		margin-bottom: 1em;

		@media (max-width: 500px) {
			min-width: 100%;
		}
		@media (min-width: 800px) {
			min-width: 400px;
		}
		tr {
			border-bottom: 1px $dividerColor solid;
			height: 30px;
		}

		td {
			text-align: center;
		}
		td.week {
			font-weight: bold;
			text-align: start;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.RelatedServices {
		background-color: $titleBackground;
		& .MenuIcon {
			margin: 0px 20px 10px 10px;
		}
	}
	.RelatedServicesTitle {
		margin-left:15px;
	}

	.icon {
		margin: 0px 20px 10px 10px;
	}
	.verticalHR {
		border-left: 1px black solid;
		width: 2px;
		display: block;
		height: 40px;
		float: left;
		margin: 10px 10px 0px 15px;
		.ltr & {
			margin-right: 20px;
		}
		.rtl & {
			margin-left: 20px;
		}
	}
	.selector {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		&:active {
			background-color: darken($titleBackground, 5%);
		}
	}
	.selector > h1 {
		font-size: 16px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px 10px 10px 20px;
		flex: 1;
	}

	.sharePage {
		padding: 0px;
		float: left;
		width: 47% !important;
	}
	.sharePage > h1 {
		padding: 0;
		width: auto !important;
		&:first-child {
			flex: 1;
			.ltr & {
				padding-left: 20px;
			}
			.rtl & {
				padding-right: 20px;
			}
		}
	}
	.ContactInformation {
		display: 'inline-block';
		overflow: 'hidden';
		white-space: 'nowrap';
		text-overflow: 'ellipsis';
		width:'650px';
	}

	.sharePage .icon {
		margin: 0px 5px 0px 5px;

		.ltr & {
			margin-right: 20px;
		}
		.rtl & {
			margin-left: 20px;
		}
	}
	.Title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
	}

	.Title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.Title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}

	.hero {
		background-color: #ffffff;
		display: flex;
		flex-direction: column;

		h2 {
			color: black;
			font-size: 100%;
			padding: 10px;
			padding-top: 2px;
			padding-bottom: 2px;
			small {
				font-size: 12px;
				display: block;
				color: lighten(black, 50%);
			}
			.providerName{
				color:black;
			}
		}

		a {
			color: white;
		}
		.HeroImageContainer {
			padding: 0;
			margin: auto;
			margin-bottom: -3px;
		}
	}

	.hero .HeroImageContainer > img {
		max-width: 100%;
	}

	article {
		margin-left: 16px;
		margin-right: 16px;
		flex: 1;

		img {
			max-width: 100%;
			margin: auto;
			display: block;
		}

		em {
			font-size: 75%;
		}

		h1 {
			font-size: 24px;
		}

		h2 {
			font-size: 18px;
		}

		h3 {
			font-size: 16px;
		}

		ul li {
			list-style-type: square;
		}
	}
}

.ServiceMapFilter{
	height: 20px;
    z-index: 400;
    background-color: white;
    position: absolute;
    right: 16px;
	top: 74px;
	width: 200px;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	padding: 10px 5px 10px 5px;
	box-shadow: 0px 0px 4px 0px #7f7f7f;
	
	.app-bar-separator{
		float:right;
		margin-right: 5px;
		margin-top: -2px;
	}
	.category-name{
		float:right;
	}
}