@import "../shared/includes.scss";

@mixin service-common() {
	hr {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: $dividerColor;
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 95%;
		opacity: 0.6;
	}
	.MenuIcon {

		font-size: 20px;
	}

	.Spacer {
		height: 30vh;
		display: block;
		width: 100%;
		display: flex;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;
	}

	.footer {
		background-color: $titleBackground;

		& .MenuIcon {
			margin: 0px 20px 10px 10px;
		}
	}

	.Selector {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		&:active {
			background-color: darken($titleBackground, 5%);
		}
	}

	.Selector > h1 {
		font-size: 16px;
		display: block;
		width: 85%;
		margin: 0;
		padding: 10px 10px 10px 20px;
		flex: 1;
		overflow:hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
		a {
			line-height: 20px;
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.Selector > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}
}

.ServiceCategoryList,
.ServiceListContainer {
	display: flex;
	flex-wrap: wrap;
	@include service-common();
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	ul li .container {
		padding: 16px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;

		&:active {
			background-color: #f6f6f6;
		}
	}
	& > ul li .container > i {
		padding-right: 10px;
		width: 25px;
		font-size: 18px;
		line-height: 24px;
	}
	& > ul li .container > strong {
		font-size: 18px;
		min-height: 24px;
		line-height: 24px;
	}

	hr {
		padding: 0;
		margin: auto;
		border: 0;
		border-top-width: 1px;
		border-top-color: lighten($dividerColor, 30%);
		border-style: solid;
		border-radius: 1px;
		height: 0;
		width: 95%;
	}
}
.ServiceCategoryList {
	.CategoryContainer {
		flex: 1;
		flex-grow: 1;
		flex-basis: 50%;

		@media (min-width: $desktopBreakpoint) {
			flex-basis: 25%;
		}

		display: flex;
		flex-direction: column;
		height: 100px;
		i {
			font-size: 35px;
		}
	}
	.Category {
		display: flex;
		flex-direction: column;
		margin: 2px 2px;
		border: 1px black solid;
		border-radius: 5px;
		//@include darken-brand-colors("border-color", 20%);
		@include brand-colors("background-color");
		@include brand-colors-inverse("color");

		flex: 1;
		flex-grow: 1;
		flex-basis: 100%;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;

		text-align: center;

		span {
			line-height: 20px;
			font-size: 16px;
		}

		&:active {
			@include darken-brand-colors("background-color", 30%);
		}
	}

	& > .Title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		text-transform: uppercase;
		text-align: center;
	}

	.Title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.Title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}
}

.ServiceList,
.ServiceMap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@include service-common();

	.Title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
		text-transform: uppercase;
	}

	.Title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.Title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}
	.Items {
		flex: 1;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
	}

	.Item {
		flex: 1;
		flex-basis: 100%;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		border-bottom: 1px $titleBackground solid;
		min-height: 60px;

		display: flex;

		cursor: pointer;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		@media (min-width: $desktopBreakpoint) {
			flex-basis: 50%;
		}
		i.material-icons {
			justify-self: center;
			align-self: center;
			padding-left: 5px;
			padding-right: 5px;

			.rtl &:after {
				content: "keyboard_arrow_left";
			}
			.ltr &:after {
				content: "keyboard_arrow_right";
			}
		}

		&:active {
			background-color: #f6f6f6;
		}
	}

	.Icons {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 75px;

		align-items: stretch;
		align-content: stretch;

		justify-content: center;

		.Icon {
			display: flex;
			flex: 1;
			flex-grow: 1;
			flex-basis: 50%;
			align-items: center;
			justify-content: center;
			align-content: center;

			i {
				width: 100%;
				height: 100%;
				font-size: 18px;
				text-align: center;
				align-items: center;
				display: flex;
				justify-content: center;
			}
		}
	}

	.Info {
		display: flex;
		flex: 1;
		flex-direction: column;

		h1 {
			padding: 0;
			margin: 0;
			font-size: 120%;
		}
		h2 {
			padding: 0;
			margin: 0;
			font-size: 100%;
			font-weight: normal;

			small {
				display: block;
			}
		}
	}

	.Error {
		padding: 16px 16px;
	}
}

.ServiceMap {
  .Item {
    border-bottom: 0;
  }
  .leaflet-popup-tip-container {
    display: block;
    margin-top: -1px;
  }
  .leaflet-control-attribution a {
    font-size: 1em;
  }
  .leaflet-popup-content {
    margin: 5px 0;

    .Info h2 {
      color: #777;
      font-weight: bold;
      margin: 5px 0;
    }
    .fullAddress {
      font-style: normal;
    }
    .regionTitle {
      font-style: normal;
      margin-top: 5px;
    }
  }

  .leaflet-div-icon {
    background: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 0 5px rgba(0,40,80,0.15);
    height: 40px !important;
    width: 40px !important;

    .Icon {
      font-size: 22px;
      text-align: center;

      i {
        position: relative;
          top: 5px;
      }
    }
  }
  .marker-cluster {
    border-radius: 50px !important;
    height: 50px !important;
    margin-left: -25px !important;
    margin-top: -25px !important;
    width: 50px !important;
  }
  .marker-cluster div {
    border-radius: 50px !important;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    margin-left: 6px;
    margin-top: 6px;
    text-shadow: 0 0 1px rgba(255,255,255,1),
                 0 0 1px rgba(255,255,255,1),
                 0 0 1px rgba(255,255,255,1);
    width: 38px;
  }
  .marker-cluster-small, .marker-cluster-small div {
    background-color: rgba(250, 120, 150, 0.6);
  }
}

.ServiceDetail {
	flex-wrap: wrap;

	@include service-common();
	.openingTable {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	table {
		border-collapse: collapse;
		margin-bottom: 1em;

		@media (max-width: 500px) {
			min-width: 100%;
		}
		@media (min-width: 800px) {
			min-width: 400px;
		}
		tr {
			border-bottom: 1px $dividerColor solid;
			height: 30px;
		}

		td {
			text-align: center;
		}
		td.week {
			font-weight: bold;
			text-align: start;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.Title {
		width: 100%;
		display: flex;
		margin: 0;
		background-color: $titleBackground;
		min-height: 60px;
		flex-direction: row;
		align-items: center;
	}

	.Title > h1 {
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 10px;
		flex: 1;
	}
	.Title > h1 > small {
		font-size: 12px;
		display: block;
		width: 100%;
		color: lighten(black, 50%);
	}

	.hero {
		background-color: #000000;
		display: flex;
		flex-direction: column;

		h2 {
			color: white;
			font-size: 100%;
			padding: 10px;
			padding-top: 2px;
			padding-bottom: 2px;
			small {
				font-size: 12px;
				display: block;
				color: lighten(black, 50%);
			}
		}

		a {
			color: white;
		}
		.HeroImageContainer {
			padding: 0;
			margin: auto;
			margin-bottom: -3px;
		}
	}

	.hero .HeroImageContainer > img {
		max-width: 100%;
	}

	article {
		margin-left: 16px;
		margin-right: 16px;
		flex: 1;

		img {
			max-width: 100%;
			margin: auto;
			display: block;
		}

		em {
			font-size: 75%;
		}

		h1 {
			font-size: 24px;
		}

		h2 {
			font-size: 18px;
		}

		h3 {
			font-size: 16px;
		}

		ul li {
			list-style-type: square;
		}

		.RelatedServices {
			padding: 0;
			margin: 0;
			padding-bottom: 10px;

			small {
				display: block;
			}

			h3 {
				font-size: 100%;
				padding: 0;
				margin: 0;
			}

			p {
				padding: 0;
				margin: 0;
			}

			& > li {
				list-style: none;
				padding-bottom: 5px;
			}
		}
	}
}
