@import "../shared/includes.scss";
.TopCategories {
    h3 {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        font-size: 25px;
        @media (max-width: $desktopBreakpoint) {
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            text-align: left;
        }
    }
    .ltr & {
        s {
            float: right;
        }
    }
    .rtl & {
        s {
            float: left;
        }
    }

}