@import "../shared/includes.scss";

$padding: 20px 20px 20px 20px;
.warning-dialog-container {
	padding: $padding;
	display: flex;
	align-items: center;

	color: black;
	p {
		color: black;
	}
}
.warning-dialog-close {
	justify-self: flex-end;
	display: flex;
	align-items: center;
	justify-items: center;
	flex: 0.5;
	justify-content: flex-end;
}
.warning-dialog-container-yellow {
	background-color: #ffda1a;

	@extend .warning-dialog-container;
}

.warning-dialog-container-red {
	background-color: #e60000;

	@extend .warning-dialog-container;
	color: white;
	p {
		color: white;
	}
}

.warning-dialog-container-green {
	background-color: #29991f;

	@extend .warning-dialog-container;
	color: white;
	p {
		color: white;
	}
}

.warning-dialog-container-inner {
	flex: 9;

	p {
		padding: 0;
		margin: 0;
	}
	.ltr & {
		border-left: 4px solid white;
		padding-left: 15px;
	}
	.rtl & {
		border-right: 4px solid white;
		padding-right: 15px;
	}

	.warning-dialog-container-yellow & {
		.ltr & {
			border-left-color: black;
		}
		.rtl & {
			border-right-color: black;
		}
	}
}

.warning--hiding {
	padding: 0;
	margin: 0;
	transition: padding 1s;
}

.warning--hiding {
	.warning-dialog-container-inner,
	.warning-dialog-close {
		display: none;
	}
}
