@import "../shared/includes.scss";

s {
	text-decoration: none;
	& > a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
	}
	& > a:before {
		content: "□";
		padding-right: 5px;
		font-size: 1em;

		@include brand-colors("color");
		@include brand-colors("border-color");
	}
}

a,
em,
li,
p {
	color: #404040;
	font-size: 14px;
}

.Skeleton {
	.rtl & {
		direction: rtl;
	}
}
