@import "../shared/includes.scss";

body {
	background-color: darken(gray, 30%);
}
@media (min-width: $desktopBreakpoint) {
	.app-bar-container {
		margin-left: $desktopPaddingWidth;
		margin-right: $desktopPaddingWidth;
	}
	footer {
		border-bottom-width: 0;
		border-top-width: 0;
		border-right-width: $desktopPaddingWidth;
		border-left-width: $desktopPaddingWidth;
		border-style: solid;

		border-color: darken(gray, 30%);
	}
	.SkeletonContainer {
		border-bottom-width: 0;
		border-top-width: 0;
		border-right-width: $desktopPaddingWidth;
		border-left-width: $desktopPaddingWidth;
		border-style: solid;

		border-color: darken(gray, 30%);
		//@include grayscale-brand-colors("border-color");
	}
}

@media (min-width: $bigDesktopBreakpoint) {
	.app-bar-container {
		margin-left: $bigDesktopPaddingWidth;
		margin-right: $bigDesktopPaddingWidth;
	}
	footer {
		border-right-width: $bigDesktopPaddingWidth;
		border-left-width: $bigDesktopPaddingWidth;
	}
	.SkeletonContainer {
		border-right-width: $bigDesktopPaddingWidth;
		border-left-width: $bigDesktopPaddingWidth;
	}
}

s,
square {
	text-decoration: none;
	align-items: baseline;
	.ltr & {margin-bottom:auto; vertical-align: top;}

	& > a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
	}
	& > a:before {
		@include darken-brand-colors("color", 10%);
		@include brand-colors("border-color");
	}
	& > a:before {
		content: "□";
		vertical-align: sub;
		margin-top: -4px;
		font-size: 20px;

		@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $desktopBreakpoint),
			only screen and (min--moz-device-pixel-ratio: 2) and (max-width: $desktopBreakpoint),
			only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: $desktopBreakpoint),
			only screen and (min-device-pixel-ratio: 2) and (max-width: $desktopBreakpoint) {
			font-size: 18px;
		}
	}
	.ltr & > a:before {
		padding-right: 5px;
	}
	.rtl & > a:before {
		padding-left: 5px;
	}
}

a,em,li{color: black;}



.Skeleton {
	.rtl & {
		direction: rtl;
	}
}
