@import "../../Selectors/Selectors.scss";

.CountrySelector {
	@include selectors();
	.item {
		cursor:pointer;
	}
	
	.item-language {
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter;
		margin: 17px auto;
    text-decoration: underline;
	}
}
