@import "../../shared/includes.scss";

@mixin selectors() {
	flex: 1;
	display: flex;
	flex-direction: column;

	min-height: unquote("calc(100vh)");
	
	.bottom {
		height: 100px;
	}

	.item {
		border: 0;
		background-color: $titleBackground;
		border: 1px solid #ddd;
		color: #5e5e5e;
		font-size: 16px;
		height: 70px;
		letter-spacing: 0;
		line-height: 20px;
		margin: 5px auto;
		outline: none;
		padding: 5px;
		width: 100%;

		@media (min-width: $smBreakpoint) {
			border-radius: 5px;
			width: 300px;
		}

		&:active {
			background-color: $dividerColor;
		}
		&:hover {
			border-color: #ccc;
		}
		&[disabled] {
			background-color: #fefefe;
			color: darken($titleBackground, 30%);
			border: 1px solid darken($titleBackground, 40%);
		}
	}

	.text {
		align-items: center;
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 50px 0;
		position: relative;

		i {
			display: block;
			font-size: 48px;
			@include brand-colors("color");
		}

		h1 {
			font-size: 18px;
			color: #000000;
			letter-spacing: 0;
			line-height: 20px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		h2 {
			font-size: 14px;
			color: #000000;
			letter-spacing: 0;
			line-height: 20px;
			text-transform: uppercase;
			margin-bottom: 0;
			padding: 5px;
		}
	}

	.other {
		height: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		position: relative;
		i {
			display: block;
			font-size: 48px;
			@include brand-colors("color");
		}

		h1 {
			font-size: 18px;
			color: #000000;
			letter-spacing: 0;
			line-height: 20px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		
	}
}
